.ClassBox {
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: all 0.2s;
}

.ClassBox:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.homeSingleBox {
    font-size: 20px;
    padding: 10px 0 0 10px;
    user-select: none;
}

.classCreateBox {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 16px;
}

.classCreateInput {
    flex: 1;
    margin: 0 10px 0 10px;
    border: 1px solid #ccc;
    height: 36px;
    padding: 0 10px;
    transition: all 0.3s;
}

.classCreateInput:hover {
    box-shadow: 0 0 4px #1890ff;
}
.classCreateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 36px;
    width: 60px;
    background-color: #1890ff;
    user-select: none;
    color: #fff;
    transition: all 0.3s;
}

.classCreateBtn:hover {
    background-color: #40a9ff;
    box-shadow: 0 0 4px #1890ff;
}

.classesList {
    height: 200px;
    overflow: auto;
}

/* 设置滚动条的样式 */
.classesList::-webkit-scrollbar {
    width: 6px;
}
/* 滚动槽 */
.classesList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
.classesList::-webkit-scrollbar-thumb {
    background: #1890ff;
}

.classesItem {
   display: flex;
   justify-content:space-between;
   align-items: center;
    font-size: 16px;
     user-select: none;
}

.className {
 flex: 0 0 160px;
}

.articlesNum {
    background-color: #1890ff;
    color: #fff;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.classesEdit:hover {
    color: #1890ff;
}

.classesDelete:hover {
    color: red;
}

.editClassInput {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    height: 36px;
    font-size: 16px;
    padding: 0 10px;
    transition: all 0.3s;
}

.editClassInput:hover {
    box-shadow: 0 0 4px #1890ff;
}