.NavBox {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100px;
    height: 100%;
    /* background-color: #001529; */
    color: #fff;
}

/* 导航上方标题 */
.appName {
    height: 48px;
    width: 100%;
    background-color: #faad14;
    border-radius: 10px;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    user-select: none;
    margin-top: 5px;
}

/* ul */
.funcBtns {
    position: absolute;
    top: 54px;
    width: 100%;
    height: 100%;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.funcBtns li {
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: all 0.2s;
    list-style: none;
}

.funcBtns li:hover {
    /* background-color: #004280; */
    /* box-shadow: 0 0 14px rgba(0, 0, 0, 0.8) inset; */
}

.funcLi {
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
}

.navActive {
    color: #faad14;
    font-weight: 700;
    font-size: 22px;
}
